[Desktop Entry]
Version=1.0
Name=Plex Media Center
GenericName=Plex Media Center
Comment=Manage and view your media 
Exec=pmc
Icon=plex
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
